// check http://docs.oracle.com/javase/7/docs/technotes/guides/security/permissions.html

// global
grant {
  // those two are only for test purpose (INTELLIJ)
  permission java.util.PropertyPermission "*", "read";
  permission java.lang.RuntimePermission "*", "read";
  // allow some basic actions
  permission javax.security.auth.AuthPermission "doAsPrivileged";
  permission java.util.PropertyPermission "java.security.auth.login.config", "read";
  permission java.util.PropertyPermission "java.security.policy", "read";
  permission javax.security.auth.AuthPermission "createLoginContext.CustomJaasLoginModule";
  permission javax.security.auth.AuthPermission "modifyPrincipals";
};

// per user: here subject with TestGroupPrincipal instance with the name property equals "testUser" will be granted those permissions
grant Principal com.adioss.security.jaas.TestGroupPrincipal "testUser" {
    permission java.io.FilePermission "<<ALL FILES>>", "read,write,execute,delete";
    permission java.lang.RuntimePermission "accessClassInPackage.System.*";
};
